*{
    box-sizing: border-box;
}
.btn:hover {
    color: black;
    background-color:white;
    transition: 350ms;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PlayFair Display DC',serif;
    font-weight: bolder;
    color: #483434;
}
p {
    font-family: 'Poppins', sans-serif;
}
.intro {
    padding: 4%;
    background-color: #F6EDDF;
}

.sources {
    align-items: center;
    padding: 4%;
    padding-top: 2%;
    background-color: #F6EDDF;
    
}
.card-body:hover {
    border: 3px solid #483434;
    transition: 200ms;
}

.articles {
    padding: 4%;
    padding-top: 2%;
}
.container{
    background-color: #F6EDDF;
}
.container h2{
    padding-top: 1%;
}
.container h2::after {
    border-bottom: 0.2em solid #483434;
    content:"";
    display:block;
    width: 5em;
    max-width:70%;
    margin: 0.5em auto 0;
   }