
.btn:hover {
    color: black;
    background-color:white;
    transition: 350ms;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    color: #483434;
}
p {
    font-family: 'Poppins', sans-serif;
}
.intro {
    padding: 4%;
    background-color: #F6EDDF;
}

.sources {
    align-items: center;
    padding: 4%;
    padding-top: 2%;
    background-color: #F6EDDF;
    
}
.card-body:hover {
    border: 3px solid #483434;
    transition: 200ms;
}

.articles {
    padding: 4%;
    padding-top: 2%;
}
.container-fluid{
    background-color: #F6EDDF;
}
.container-fluid h2{
    padding-top: 1%;
}