<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the NewsFlash</title>
        {% endif %}
</head>
<body>
    <!-- Popular articles section  -->
    <h3> Popular Articles</h3>
    <ul>
       {% for popular_articles in popular %}
           <li>{{ popular_articles.title}}</li>
       {% endfor %}
   </ul>
</body>
</html>